
.eliteApplySection {
  
  padding: 6rem 2rem;
  color: #fff;
  text-align: center;
  
  position: relative;
  overflow: hidden;
}

.eliteApplyContent {
  max-width: 900px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.eliteApplyHeading {
  font-size: 2.8rem;
  font-weight: 700;
  color: #ffcc00;
  margin-bottom: 1.5rem;
  animation: fadeInUp 1s ease-out forwards;
}

.eliteApplySubtext {
  font-size: 1.125rem;
  line-height: 1.9;
  color: #dddddd;
  margin-bottom: 1.8rem;
  animation: fadeInUp 1.4s ease-out forwards;
}

.eliteApplyCTA {
  font-size: 1.1rem;
  margin-top: 2rem;
  font-weight: 500;
  color: #fff;
  animation: fadeInUp 1.6s ease-out forwards;
}

.eliteApplyLink {
  display: inline-block;
  margin-top: 0.7rem;
  color: #ffcc00;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 2px solid #ffcc00;
  transition: all 0.3s ease-in-out;
}

.eliteApplyLink:hover {
  color: #fff;
  background-color: #ffcc00;
  border-radius: 4px;
  padding: 0.3rem 1rem;
}

.eliteHighlight {
  color: #2ecc71;
  font-weight: 600;
}

/* Fade Animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive */
@media screen and (max-width: 768px) {
  .eliteApplyHeading {
    font-size: 2rem;
  }

  .eliteApplySubtext,
  .eliteApplyCTA {
    font-size: 1rem;
  }
}
/* CSS */
.spotlite-section {
 
  color: #f5f5f5;
  padding: 80px 20px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.spotlite-container {
  max-width: 700px;
  text-align: center;
  border: 1px solid rgba(255, 215, 0, 0.2);
  padding: 50px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.02);
  box-shadow: 0 0 40px rgba(59, 51, 1, 0.453);
  transition: transform 0.3s ease;
}

.spotlite-container:hover {
  transform: scale(1.01);
}

.spotlite-title {
  font-size: 2rem;
  color: #2ecc71;
  margin-bottom: 25px;
  letter-spacing: 1px;
  font-weight: 600;
}

.spotlite-subtext {
  font-size: 1.1rem;
  line-height: 1.8;
  margin-bottom: 20px;
  color: #363636;
}

.brand {
  color: #2ecc71;
  font-weight: bold;
}

.spotlite-cta {
  display: inline-block;
  margin-top: 30px;
  font-size: 1rem;
  color: #0f0f0f;
  background: linear-gradient(90deg, #ffd700, #2ecc71);
  padding: 15px 25px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s ease;
}

.spotlite-cta:hover {
  background: linear-gradient(90deg, #ffcc00, #ffd700);
  box-shadow: 0 0 20px rgba(255, 215, 0, 0.3);
  text-decoration: none;
  transition: 2s;
}
